@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Quattrocento+Sans&display=swap");
:root {
  --black: #000;
  --white: #fff;
  --green-active: #23b7a4;
  --gray-nav: #a4aead;
  --gray-text: #ccd0d7;
  --black-nav: #1d2126;
  --gray-hover: #5b6168;
  --gray-blue-bg: #3a454d;
  --gray-border: #e1e6ea;
  --black-title: #292f36;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

ol, ul {
  list-style: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  display: none;
}

h2, h3 {
  text-transform: uppercase;
  font-weight: 700;
}

h2 {
  font-size: 36px;
}

p {
  font-size: 16px;
}

.footer-content, .contact, .features, .services, .work, .team, .about, .welcome {
  margin: 0 35rem;
  padding: 8rem 3rem;
}

#welcome {
  position: relative;
}

.welcome {
  position: absolute;
}

.welcome__desc > a {
  padding: 1.5rem 2rem;
  text-transform: uppercase;
  color: var(--white);
  border: 2px solid var(--white);
  border-radius: 5px;
  background-color: transparent;
  font-size: 14px;
}

.work__showmore > a:hover, .welcome__desc > a:hover {
  background-color: var(--green-active);
  border-color: var(--green-active);
}

.contact-info__desc > p, .features-list__desc > p, .team-members-member > section > h3, .about-content__list > ol > li > section > p, .about-content-desc__prag > p {
  font-size: 16px;
}

.contact-info-form__message > button, .services-content__desc > p, .work__showmore > a, .team-members-member > section > h4, .contact-info-form__message > textarea, .contact-info-form-customer__email > input[type=text], .contact-info-form-customer__name > input[type=text], .contact-info-form__message, .contact-info-form-customer__email, .contact-info-form-customer__name {
  font-size: 14px;
}

.contact > h2, .features > h2, .services > h2, .work > h2, .team-members-member > section > h3, .team > h2, .about > h2, .contact-info-form__message, .contact-info-form-customer__email, .contact-info-form-customer__name {
  font-family: "Quattrocento Sans";
}

.contact > h2, .features > h2, .services > h2, .work > h2, .team > h2, .about > h2 {
  border-left: 10px solid var(--gray-border);
  padding-left: 1.5rem;
  margin-bottom: 6rem;
}

.contact-info-form__message > button, .contact-info-form__message > label {
  display: block;
}

.contact-info-form__message, .contact-info-form-customer__email, .contact-info-form-customer__name {
  padding: 10px;
  line-height: 30px;
  text-transform: uppercase;
}

.contact-info-form-customer__email > input[type=text], .contact-info-form-customer__name > input[type=text] {
  background-color: #eaeef1;
  border-radius: 5px;
  width: 100%;
  height: 25px;
}

.contact-info-form__message > textarea {
  background-color: #eaeef1;
  border-radius: 5px;
}

.container {
  max-width: 100%;
}

nav {
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--black-nav);
}
nav .brand {
  margin-left: 36.5rem;
}
nav .brand__logo {
  padding: 1.5rem;
}
nav .navbar {
  margin-right: 36.5rem;
}
nav .navbar > li {
  display: inline-block;
}
nav .navbar__link {
  line-height: 8rem;
  padding: 0.8rem 1rem;
  font-size: 14px;
  color: var(--gray-nav);
  border: 2px solid transparent;
}
nav .navbar__link:hover {
  border-color: var(--gray-hover);
  border-radius: 5px;
}
nav .navbar--active {
  border: 2px solid var(--green-active);
  border-radius: 5px;
  color: var(--green-active);
}

#welcome {
  display: flex;
  justify-content: unset;
  align-items: center;
  height: 66rem;
  background: var(--gray-blue-bg) url(../img/bg/root-bg.jpg) no-repeat center center/cover;
}

.welcome__desc {
  width: 50%;
}
.welcome__desc > h2 {
  color: var(--white);
  margin-bottom: 3rem;
}
.welcome__desc > p {
  color: var(--gray-text);
  line-height: 2.4rem;
  margin-bottom: 3.5rem;
}
.welcome__desc > a:nth-child(3) {
  margin-right: 0.5rem;
}
.welcome__desc > a:nth-child(4) {
  margin-left: 0.5rem;
}

#about {
  border: 1px solid #dde1e4;
}

.about > h2 {
  color: var(--black-title);
}

.about-content {
  display: flex;
  justify-content: unset;
  align-items: unset;
}
.about-content-desc {
  width: 60%;
}
.about-content-desc__prag {
  margin-bottom: 3.5rem;
}
.about-content-desc__prag > p {
  margin-bottom: 3rem;
}
.about-content-desc__prag > p > span {
  font-weight: 700;
}
.about-content-desc__socials {
  margin-top: 2rem;
}
.about-content-desc__socials > ul > li {
  display: inline-block;
  background-color: #c8cdd0;
  height: 6rem;
  width: 6rem;
  text-align: center;
}
.about-content-desc__socials > ul > li > a {
  line-height: 6rem;
  padding: 2rem;
}
.about-content-desc__socials > ul > li:hover {
  background-color: #d0d5d9;
}
.about-content__list {
  width: 40%;
}
.about-content__list > ol {
  counter-reset: item;
}
.about-content__list > ol > li {
  counter-increment: item;
  margin-bottom: 6rem;
  display: flex;
}
.about-content__list > ol > li::before {
  content: "0" counter(item);
  font-size: 20px;
  color: var(--white);
  text-align: center;
  margin-right: 2rem;
  padding: 3rem;
  background-color: var(--green-active);
  display: inline-block;
}
.about-content__list > ol > li > section {
  display: inline-block;
}
.about-content__list > ol > li > section > h3 {
  font-size: 18px;
  margin-bottom: 2rem;
}
.team > h2 {
  color: var(--black-title);
}
.team-members {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.team-members-member {
  position: relative;
}
.team-members-member:hover > .team-members-member__mask {
  visibility: visible;
}
.team-members-member:hover > section {
  background-color: var(--gray-blue-bg);
  color: var(--white);
}
.team-members-member__mask {
  visibility: hidden;
  position: absolute;
  width: 26.3rem;
  height: 30rem;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-members-member__mask > a {
  height: 5rem;
  width: 5rem;
  margin: 1px;
  background-color: var(--gray-blue-bg);
  text-align: center;
}
.team-members-member__mask > a:hover {
  background-color: rgb(78, 90, 98);
}
.team-members-member__mask > a > img {
  padding: 1.5rem;
}
.team-members-member > section {
  margin-top: -3px;
  padding: 2rem;
  background-color: var(--gray-border);
}
#work {
  background-color: var(--gray-blue-bg);
}

.work-content {
  display: flex;
  justify-content: space-between;
  align-items: unset;
  flex-wrap: wrap;
}
.work-content__img {
  height: 26.5rem;
  width: 36rem;
  cursor: pointer;
}
.work-content__img > .mask {
  visibility: hidden;
}
.work-content__img:hover > .mask {
  visibility: visible;
}
.work-content__img--pic1 {
  background-image: url(../img/bg/lovely/pic1.jpg);
  background-repeat: no-repeat;
  margin-bottom: 3rem;
  position: relative;
}
.work-content__img--pic1 > .mask {
  position: absolute;
  background-color: rgba(41, 47, 54, 0.5);
  height: 100%;
  width: 100%;
}
.work-content__img--pic1 > .mask > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.work-content__img--pic1 > .mask > p {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2rem;
  background-color: #292f36;
  width: 100%;
  color: var(--white);
  font-size: 18px;
  text-transform: uppercase;
}
.work-content__img--pic2 {
  background-image: url(../img/bg/lovely/pic2.jpg);
  background-repeat: no-repeat;
  margin-bottom: 3rem;
  position: relative;
}
.work-content__img--pic2 > .mask {
  position: absolute;
  background-color: rgba(41, 47, 54, 0.5);
  height: 100%;
  width: 100%;
}
.work-content__img--pic2 > .mask > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.work-content__img--pic2 > .mask > p {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2rem;
  background-color: #292f36;
  width: 100%;
  color: var(--white);
  font-size: 18px;
  text-transform: uppercase;
}
.work-content__img--pic3 {
  background-image: url(../img/bg/lovely/pic3.jpg);
  background-repeat: no-repeat;
  margin-bottom: 3rem;
  position: relative;
}
.work-content__img--pic3 > .mask {
  position: absolute;
  background-color: rgba(41, 47, 54, 0.5);
  height: 100%;
  width: 100%;
}
.work-content__img--pic3 > .mask > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.work-content__img--pic3 > .mask > p {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2rem;
  background-color: #292f36;
  width: 100%;
  color: var(--white);
  font-size: 18px;
  text-transform: uppercase;
}
.work-content__img--pic4 {
  background-image: url(../img/bg/lovely/pic4.jpg);
  background-repeat: no-repeat;
  margin-bottom: 3rem;
  position: relative;
}
.work-content__img--pic4 > .mask {
  position: absolute;
  background-color: rgba(41, 47, 54, 0.5);
  height: 100%;
  width: 100%;
}
.work-content__img--pic4 > .mask > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.work-content__img--pic4 > .mask > p {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2rem;
  background-color: #292f36;
  width: 100%;
  color: var(--white);
  font-size: 18px;
  text-transform: uppercase;
}
.work-content__img--pic5 {
  background-image: url(../img/bg/lovely/pic5.jpg);
  background-repeat: no-repeat;
  margin-bottom: 3rem;
  position: relative;
}
.work-content__img--pic5 > .mask {
  position: absolute;
  background-color: rgba(41, 47, 54, 0.5);
  height: 100%;
  width: 100%;
}
.work-content__img--pic5 > .mask > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.work-content__img--pic5 > .mask > p {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2rem;
  background-color: #292f36;
  width: 100%;
  color: var(--white);
  font-size: 18px;
  text-transform: uppercase;
}
.work-content__img--pic6 {
  background-image: url(../img/bg/lovely/pic6.jpg);
  background-repeat: no-repeat;
  margin-bottom: 3rem;
  position: relative;
}
.work-content__img--pic6 > .mask {
  position: absolute;
  background-color: rgba(41, 47, 54, 0.5);
  height: 100%;
  width: 100%;
}
.work-content__img--pic6 > .mask > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.work-content__img--pic6 > .mask > p {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2rem;
  background-color: #292f36;
  width: 100%;
  color: var(--white);
  font-size: 18px;
  text-transform: uppercase;
}
.work > h2 {
  color: var(--white);
  border-color: #4e5a62;
}
.work__showmore {
  width: 100%;
  text-align: center;
  background-color: var(--gray-blue-bg);
}
.work__showmore > a {
  color: var(--white);
  border: 2px solid var(--white);
  border-radius: 5px;
  padding: 1.5rem 2rem;
  line-height: 6rem;
}
.services > h2 {
  color: var(--black);
}
.services-content {
  display: flex;
  justify-content: space-between;
  align-items: unset;
  flex-wrap: wrap;
}
.services-content__desc {
  flex: 1 0 25%;
  text-align: center;
  padding: 4.5rem 1.7rem;
}
.services-content__desc > h3 {
  font-size: 17px;
  color: #292f36;
  padding: 3rem 0;
}
.services-content__desc > p {
  color: #8d8f92;
  line-height: 30px;
}

#features {
  background-color: var(--gray-blue-bg);
}

.features > h2 {
  color: var(--white);
  border-color: #4e5a62;
}
.features-list {
  display: flex;
  justify-content: space-between;
  align-items: unset;
}
.features-list__desc > h3 {
  padding: 3rem 0;
  font-size: 18px;
  color: var(--white);
}
.features-list__desc > p {
  color: var(--white);
  line-height: 30px;
}

#contact {
  position: relative;
}
#contact__map {
  position: absolute;
  width: 100%;
  height: 350px;
  left: 0;
}
#contact__map > iframe {
  width: 100%;
  height: 100%;
}

.contact > h2 {
  color: var(--black);
}
.contact-info {
  margin-top: 47rem;
  display: flex;
  position: relative;
}
.contact-info__desc {
  width: 50%;
}
.contact-info__desc > h3 {
  font-size: 20px;
  margin-bottom: 4rem;
}
.contact-info__desc > p {
  line-height: 30px;
  margin-bottom: 10px;
}
.contact-info-form {
  margin-left: 50%;
  position: absolute;
  padding: 20px;
  background-color: var(--white);
  top: -190px;
}
.contact-info-form-customer {
  display: flex;
}
.contact-info-form__message > textarea {
  width: 100%;
  resize: none;
}
.contact-info-form__message > button {
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--green-active);
  border: none;
  border-radius: 5px;
  padding: 20px 30px;
}

.footer {
  background-color: var(--gray-blue-bg);
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: unset;
  padding: 4rem 3rem;
}
.footer-content > p {
  color: var(--white);
}
.footer-content__socials > a {
  padding: 1rem;
}

/*# sourceMappingURL=style.css.map */
