@import 'variable';
@import 'reset';
@import 'param';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Quattrocento+Sans&display=swap');
.container{
  max-width: 100%;
}
nav{
  width: 100%;
  height: 8rem;
  @include flex(space-between, center);
  background: var(--black-nav);
  .brand{
    margin-left: 36.5rem;
    &__logo{
      padding: 1.5rem;
    }
  }
  .navbar{
    margin-right: 36.5rem;
    &>li{
      display: inline-block;
    }
    &__link{
      line-height: 8rem;
      padding: .8rem 1rem;
      font-size: 14px;
      color: var(--gray-nav);
      border: 2px solid transparent;
      &:hover{
        border-color: var(--gray-hover);
        border-radius: 5px;
      }
  }
    &--active{
      border: 2px solid var(--green-active);
      border-radius: 5px;
      color: var(--green-active);
    }
  }
}
#welcome{
  @extend %pos-relative;
  @include flex(unset, center);
  height: 66rem;
  background: var(--gray-blue-bg) url(../img/bg/root-bg.jpg) no-repeat center center/cover;
}
.welcome{
  @extend %pos-absolute, %block-content;
  &__desc{
    width: 50%;
    &>h2 {
      color: var(--white);
      margin-bottom: 3rem;
    }
  
    &>p {
      color: var(--gray-text);
      line-height: 2.4rem;
      margin-bottom: 3.5rem;
    }
    &>a {
      @extend %link;
      &:hover{
        background-color: var(--green-active);
        border-color: var(--green-active);
      }
      &:nth-child(3) {
        margin-right: .5rem;
      }
      &:nth-child(4){
        margin-left: .5rem;
      }
    }
  }
}
#about{
  border: 1px solid #dde1e4;
}
.about{
  @extend %block-content;
  &>h2{
    @include title(var(--black-title));
  }
}
.about-content{
  @include flex(unset, unset);
  &-desc{
    width: 60%;
    &__prag{
      margin-bottom: 3.5rem;
      &>p{
        margin-bottom: 3rem;
        @extend %font-s16;
        &>span{
          font-weight: 700;
        }
      }
    }
    &__socials{
      margin-top: 2rem;
      &>ul>li{
        display: inline-block;
        background-color: #c8cdd0;
        height: 6rem;
        width: 6rem;
        text-align: center;
        &>a{
          line-height: 6rem;
          padding: 2rem;
        }
        &:hover{
          background-color: #d0d5d9;
        }
      }
      
    }
  }
  &__list {
    width: 40%;
    &>ol{
      counter-reset: item;
      &>li{
        counter-increment: item;
        margin-bottom: 6rem;
        display: flex;
        &::before{
          content: '0'counter(item);
          font-size: 20px;
          color: var(--white);
          text-align: center;
          margin-right: 2rem;
          padding: 3rem;
          background-color: var(--green-active);
          display: inline-block;
        }
        &>section{
          display: inline-block;
          &>h3{
            font-size: 18px;
            margin-bottom: 2rem
          }
          &>p{
            @extend %font-s16;
          }
        }
      }
    }
  }
}
#team{
  //height: 65rem;
}
.team{
  @extend %block-content;
  &>h2{
    @include title(var(--black-title));
  }
  &-members{
    @include flex(space-between, center);
    &__member{
      &>section{
        padding: 2rem;
        background-color: var(--gray-border);
        &>h3{
          @extend %font-s16;
          @extend %font-family-Quattrocento;
        }
        &>h4{
          @extend %font-s14;
        }
      }
    }
  }
}